/* global css */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
    --primary-color: #FF5400;
    --secondary-color: #FFF;
}
/* shared css */
.button{
    background-color: var(--primary-color);
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 1rem;
    border: none;
    color: var(--secondary-color);
    font-weight: 700;
}
/* header css */
header{
    padding: 3.2rem;
}
nav{
    /* margin: 30px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo h3{
    font-size: 2rem;
    font-weight: 800;
}
.logo span{
    color: var(--primary-color);
}
nav >ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 1.2rem;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424247;
    font-size: 1rem;
    font-weight: 600;
}
a#home{
    color: var(--primary-color);
}

/* banner */
.banner{
    padding: 10rem;
    /* margin: 50px; */
    background-size: auto;
    border-radius: 1rem;
    color: var(--secondary-color);
    margin: 2rem  7rem;
    background-image: linear-gradient(180deg, #322e3a 0%, rgba(7, 2, 17, 0) 80%),url(../Images/banner.png);
    background-repeat: no-repeat;
    /* linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), */
}
.banner .banner-text{
    padding: 1rem;
    align-items: center;
    text-align: center;
}
.banner .banner-text h1{
    font-size: 4rem;
}
.banner .banner-text p{
    font-size: 1rem;
}
.banner-menu{
    background: rgba(255, 255, 255, 0.30);
    width: 70%;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    gap: 1rem;
    margin-left: 6rem;
}
.banner-menu input{
    width: 40%;
    border: 0;
    padding-left: 1rem;
    border-radius: 1rem;
    background-color: var(--secondary-color);
}
.banner-menu button{

}

/* responsive scc */
/* mobile */
@media screen and (max-width:576px){
    nav{
        flex-direction: column;
        gap: 1.3rem;
    }
}